<br />
<br />
<br />
<div id="fileForm">
<h2>Shostakovich Meditation</h2>
<br />
<form action="/result">
  <input type="file" name="xmlFile" />
  <br />
  <button type="submit" value="Submit">Meditate</button>
  <br />
  <br />
</form>
</div>

<style>

body {
  background-image: url("../images/shostakovichMeditate.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  max-width:640px;
}

#fileForm {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  padding:5px;
  border-radius: 15px;
}

#fileForm > form:nth-child(3) > input:nth-child(1) {
  width:200px;
}

h2 {
  text-align:center;
}

input {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

button {
background-color: #FFF;
background-image: none;
border-bottom-color: #CCC;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: #CCC;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #CCC;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #CCC;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
color: #333;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
overflow: visible;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;
text-align: center;
text-transform: none;
vertical-align: middle;
white-space: nowrap;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-box-sizing: border-box;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
-moz-user-select: none;
}
</style>
